@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100&family=Sevillana&display=swap');
.p1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
}
.h1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.p2{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.button {
    margin-top: 20px;
  }
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: black;
    color: rgb(255, 255, 255);
  }
  @media only  screen and (min-width:481px) and (max-width:768px){.p1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
}
.h1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.p2{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.button {
    margin-top: 20px;
  }
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: black;
    color: rgb(255, 255, 255);
  }}
@media only  screen and (min-width:320px) and (max-width:482px){.p1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
}
.h1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.p2{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.button {
    margin-top: 20px;
  }
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: black;
    color: rgb(255, 255, 255);
  }
}
@media only  screen and (min-width:769px) and (max-width:1024px){.p1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
}
.h1{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.p2{
    font-size: 19px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.button {
    margin-top: 20px;
  }
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: black;
    color: rgb(255, 255, 255);
  }
}